
{% extends 'base.html' %}
{% block content %}
<h4>收费项目</h4>
<form method="post" class="row g-2 mb-3">
  <div class="col-md-3"><input name="name" class="form-control" placeholder="名称(物业费等)" required></div>
  <div class="col-md-2"><input name="unit" class="form-control" placeholder="计费单位(如 月)"></div>
  <div class="col-md-2"><input name="price" class="form-control" placeholder="单价"></div>
  <div class="col-md-3"><input name="description" class="form-control" placeholder="描述"></div>
  <div class="col-md-2"><button class="btn btn-primary w-100">添加</button></div>
</form>
<table class="table table-striped">
  <thead><tr><th>ID</th><th>名称</th><th>计费单位</th><th>单价</th><th>说明</th></tr></thead>
  <tbody>
    {% for t in types %}
      <tr><td>{{ t.id }}</td><td>{{ t.name }}</td><td>{{ t.unit }}</td><td>{{ t.price }}</td><td>{{ t.description or '-' }}</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
