
{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h4>账单</h4>
  <a class="btn btn-primary" href="{{ url_for('invoices_new') }}">+ 新建账单</a>
</div>
<table class="table table-hover mt-2">
  <thead><tr><th>ID</th><th>业主</th><th>项目</th><th>金额</th><th>到期日</th><th>状态</th></tr></thead>
  <tbody>
  {% for i in invoices %}
    <tr>
      <td>{{ i.id }}</td>
      <td><a href="{{ url_for('owners_detail', oid=i.owner_id) }}">{{ i.owner.name }}</a></td>
      <td>{{ i.charge_type.name if i.charge_type else (i.description or '-') }}</td>
      <td>¥{{ '%.2f'|format(i.amount) }}</td>
      <td>{{ i.due_date }}</td>
      <td>{{ i.status }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
